
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    font-family: var(--police);
}


:root{
    --police : "Montserrat", sans-serif, Arial, sans-serif;
    --bgColor : #393939;
    --secColor : #eee3cf;
    --mainColor : #e7c253;
    --cardColor : #b4a581;
}

#wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

input {
    outline:none;
   }

/* --------------------------------NAVBAR-------------------------------- */
header{
    position: fixed;
    width: 100%;
    background-color: var(--bgColor);
    z-index: 99;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    padding-top: 15px;
    padding-bottom: 15px;
}

#navlogo{
    color: var(--mainColor);
    margin-left: 15px;
    padding-right: 5px;
}

#navtitle a{
    font-size: 25px;
    font-weight: bolder;
    color: white;
}

#search{
    display: flex;
}

#searchbar{
    height: 30px;
    width: 60px;
    border-style: none;
    text-align: center;
    color: white;
    background-color: black;
}

#searchButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-style: none;
    background-color: #e7c253;
    color: var(--bgColor);
}

#burger{
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border-style: none;
    background-color: var(--bgColor);
}

#menuIcon{
    font-size: 200%;
    color: white;
}

#closeIcon{
    display: none;
    font-size: 200%;
    color: white;
}

#menu{
    position: fixed;
    transition: transform 0.2s;
    top: 50px;
    right: 0;
    background-color: var(--bgColor);
    list-style: none;
    padding: 10px;
}

.hideMenu {
    transform: translateY(-150%);
}

#menu li{
    padding-top: 10px;
    padding-bottom: 10px;
}

.menuItem{
    color: white;
}

/* --------------------------------MAIN-------------------------------- */
#wrapper{
    display: flex;
    flex-direction: column;
    background-color: var(--secColor);
}

    /* ----------------------------HOME PAGE---------------------------- */
    .section{
        background-color: var(--secColor);
        padding-bottom: 25px;
    }

    #section1{
        padding-top: 75px;
    }

    .sectionTitle{
        font-size: larger;
        padding: 15px;
        color: var(--bgColor);
    }

    .posterContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--cardColor);
        height: 500px;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 7px;
    }

    .posterContainerCarousel{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--cardColor);
        height: 500px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .poster a{
        height: 400px;
        width: 300px;
    }

    .poster a img{
        height: inherit;
        width: inherit;
        object-fit: cover;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    .titleCard{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 300px;
        background-color: var(--bgColor);
        text-align: center;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    .titleCard a{
        color: white;
    }

    .popularSelection{
        display: flex;
        justify-content: space-evenly;
        margin-left: 15px;
        margin-right: 15px;
        background-color: var(--cardColor);
        padding-top: 25px;
        padding-bottom: 25px;
        border-radius: 7px;
    }

    .personCard{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portrait a{
        height: 150px;
        width: 100px;
    }

    .portrait a img{
        height: inherit;
        width: inherit;
        object-fit: cover;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    .nameCard{
        width: 100px;
        height: 56px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: var(--bgColor);
        text-align: center;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    .nameCard a{
        color: white;
    }

    /* ----------------------------LISTS---------------------------- */
    .container{
        margin-top: 70px;
        padding: 10px;
        height: 100%;
        background-color: var(--secColor);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mainTitle{
        color: var(--bgColor);
        margin-bottom: 25px;
    }

    .add{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: var(--bgColor);
        height: 30px;
        width: 120px;
        border: 1px solid white;
    }

    .list{
        background-color: var(--cardColor);
        padding: 5px;
        margin-top: 10px;
        border-radius: 7px;
        border-spacing: 0;
    }

    .list, th, td{
        border-bottom: 1px solid;
    }

    .list thead{
        background-color: var(--bgColor);
    }

    .list th{
        color: white;
        font-size: larger;
        padding: 15px;
    }

    .list td{
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 10px;
    }

    .list td a{
        color: rgb(0, 0, 0);
    }

    .mainLink{
        font-weight: bolder;
    }

    .smallCol{
        width: 10%;
    }

    /* ------------------------------INFO PAGE------------------------------ */
    .infoHeader{
        display: flex;
        justify-content: space-between;
    }

    .options{
        display: flex;
        gap: 20px;
        margin-right: 5px;
        padding-top: 5px;
    }

    .infoHeader a{
        color: var(--bgColor);
        font-size: 150%;
    }
    
    .infoBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--cardColor);
        padding-top: 25px;
        padding-bottom: 5px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 25px;
        border-radius: 7px;
    }

    .info{
        width: 300px;
    }

    .info p{
        margin-bottom: 10px;
    }

    .info a{
        color: rgb(0, 0, 0);
    }

    .infoImg{
        height: auto;
        width: 300px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .infoImg img{
        height: inherit;
        width: inherit;
        object-fit: cover;
        border-radius: 7px;
    }

    .infoBox article{
        width: 300px;
    }

    .infoBox article p{
        margin-top: 10px;
    }

    .subInfo{
        background-color: var(--bgColor);
        padding: 10px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        border-radius: 7px;
        color: white;
    }

    .subInfoItem{
        margin-top: 10px;
    }

    .subInfoItem a{
        color: white;
    }

    .subInfo figure a{
        height: auto;
        width: 110px;
    }

    .subInfo figure a img{
        height: inherit;
        width: inherit;
        object-fit: cover;
    }

    /* --------------------------------FORMS-------------------------------- */
    .return{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: var(--bgColor);
        height: 30px;
        width: 160px;
        border: 1px solid white;
        margin-bottom: 15px;
    }
    
    .customForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        background-color: var(--cardColor);
        padding: 15px;
        margin-bottom: 25px;
        border-radius: 7px;
    }

    .customForm label{
        font-weight: bolder;
    }

    .strayTitle{
        font-weight: bolder;
        margin-top: 15px;
    }

    .formBasicField{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .formDuration{
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        margin-bottom: 15px;
        gap: 5px;
    }

    .formDuration input{
        width: 50px;
    }

    .formGenre{
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 15px;
    }

    .formGenre label{
        font-weight: normal;
    }

    .formScore{
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .formBigText{
        margin-top: 15px;
        margin-bottom: 15px;
        width: 300px;
    }

    .formBigText textarea{
        margin-top: 5px;
        padding: 5px;
    }

    .formSubmit{
        margin-top: 15px;
        margin-bottom: 15px;
    }

/* --------------------------------FOOTER-------------------------------- */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--bgColor);
    color: white;
    padding: 10px;
    font-family: Montserrat;
}

footer a{
    text-decoration: none;
    color: white;
}

footer h2{
    font-size: medium;
}

#footer1 h2{
    margin-bottom: 5px;
}

#footer1 p{
    font-weight: lighter;
    font-size: small;
    line-height: 20px;
}

#footer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer2 p{
    font-weight: lighter;
    font-size: small;
    line-height: 20px;
}

#footer3 p{
    display: flex;
    justify-content: space-around;
    font-size: 150%;
    margin-top: 10px;
}