
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    font-family: var(--police);
}


:root{
    --police : "Montserrat", sans-serif, Arial, sans-serif;
    --bgColor : #393939;
    --secColor : #d8cdac;
    --mainColor : #e7c253;
    --cardColor : #a1905c;
}

#wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

input {
    outline:none;
   }

/* --------------------------------NAVBAR-------------------------------- */
header{
    position: fixed;
    width: 100%;
    background-color: var(--bgColor);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    padding-top: 15px;
    padding-bottom: 15px;
}

#navlogo{
    color: var(--mainColor);
    margin-left: 15px;
    padding-right: 5px;
}

#navtitle a{
    font-size: 25px;
    font-weight: bolder;
    color: white;
}

#search{
    display: flex;
}

#searchbar{
    height: 30px;
    width: 60px;
    border-style: none;
    text-align: center;
    color: white;
    background-color: black;
}

#searchButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-style: none;
    background-color: #e7c253;
    color: var(--bgColor);
}

#burger{
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border-style: none;
    background-color: var(--bgColor);
}

#menuIcon{
    font-size: 200%;
    color: white;
}

#closeIcon{
    display: none;
    font-size: 200%;
    color: white;
}

#menu{
    position: fixed;
    transition: transform 0.2s;
    top: 50px;
    right: 0;
    background-color: var(--bgColor);
    list-style: none;
    padding: 10px;
}

.hideMenu {
    transform: translateY(-150%);
}

#menu li{
    padding-top: 10px;
    padding-bottom: 10px;
}

.menuItem{
    color: white;
}

/* --------------------------------MAIN-------------------------------- */
#wrapper{
    display: flex;
    flex-direction: column;
    background-color: var(--secColor);
}

    /* ----------------------------HOME PAGE---------------------------- */
    .section{
        background-color: var(--secColor);
        padding-bottom: 25px;
    }

    .sectionTitle{
        font-size: larger;
        padding: 15px;
        color: var(--bgColor);
    }

    #section1{
        margin-top: 70px;
    }

    .arrow{
        display: flex;
        align-items: center;
        font-size: 200%;
        font-weight: bold;
        padding: 15px;
        color: var(--mainColor);
    }

    .caroussel{
        display: flex;
        justify-content: center;
        background-color: var(--cardColor);
    }

    .carousselContainer{
        display: flex;
        flex-direction: row;
    }

    .carousselItem{
        display: flex;
        flex-direction: column;
    }

    .carousselHidden{
        display: none;
    }

    #carousselPosition{
        display: flex;
        justify-content: center;
        gap : 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .positionNode{
        border-radius: 100%;
        padding: 5px;
        height: 5px;
        width: 5px;
    }

    .nodePassive{
        background-color: gray;
    }

    .posterContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--cardColor);
        padding-top: 25px;
        padding-bottom: 25px;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 7px;
    }

    .poster a{
        height: auto;
        width: 300px;
    }

    .poster a img{
        height: inherit;
        width: inherit;
        object-fit: cover;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    .titleCard{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 300px;
        background-color: var(--bgColor);
        text-align: center;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    .titleCard a{
        color: white;
    }

    .popularSelection{
        display: flex;
        justify-content: space-evenly;
        margin-left: 15px;
        margin-right: 15px;
        background-color: var(--cardColor);
        padding-top: 25px;
        padding-bottom: 25px;
        border-radius: 7px;
    }

    .personCard{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portrait{
        height: 150px;
        width: 100px;
    }

    .portrait img{
        height: inherit;
        width: inherit;
        object-fit: cover;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    .nameCard{
        width: 100px;
        height: 56px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: var(--bgColor);
        text-align: center;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    .nameCard a{
        color: white;
    }

    /* ----------------------------LISTS---------------------------- */
    .container{
        margin-top: 70px;
        margin-bottom: 10px;
        padding: 10px;
        height: 100%;
        background-color: var(--secColor);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .options{
        display: flex;
        justify-content: space-between;
    }

    .opt{
        height: 30px;
        width: 70px;
    }

    .add a{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: var(--bgColor);
        height: 30px;
        width: 120px;
    }

    .list{
        background-color: var(--cardColor);
        padding: 5px;
        margin-top: 10px;
        border-radius: 7px;
        border-spacing: 0;
    }

    .list, th, td{
        border-bottom: 1px solid;
    }

    .list thead{
        background-color: var(--bgColor);
    }

    .list th{
        color: white;
        font-size: larger;
        padding: 15px;
    }

    .list td{
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 10px;
    }

    .list td a{
        color: rgb(0, 0, 0);
    }

    .movieListTitle{
        font-weight: bolder;
    }

    .movieListYear{
        width: 10%;
    }

    .personListName{
        font-weight: bolder;
    }

/* --------------------------------FOOTER-------------------------------- */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--bgColor);
    color: white;
    padding: 10px;
    font-family: Montserrat;
}

footer a{
    text-decoration: none;
    color: white;
}

footer h2{
    font-size: medium;
}

#footer1 h2{
    margin-bottom: 5px;
}

#footer1 p{
    font-weight: lighter;
    font-size: small;
    line-height: 20px;
}

#footer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer2 p{
    font-weight: lighter;
    font-size: small;
    line-height: 20px;
}

#footer3 p{
    display: flex;
    justify-content: space-around;
    font-size: 150%;
    margin-top: 10px;
}